#encabezado{
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #F5EDCE;
    color: #1A0000;
    padding-left: 15px;
}

#encabezado h1{
    display: inline;
}

.descripcion{
    font-size: 18px;
}

#menu{
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: #916bff;
    color: #F5EDCE;  
}


#menu a:visited{
    color:#1A0000;
}

#menu a:hover{
    background-color: #1A0000;
    color: white;
}

#barreLateral{
    position: absolute;
    top:12%;
    left: 0;
    height: 81%;
    width: 20%; 
    background-color: #1A0000;
    color: #bfbac0;
}

#contenido {
    position: absolute;
    top: 12%;
    left:20%;
    height: 81%;
    width: 80%;
    background-color: #d3f8ff;
    color: #1A0000;
    overflow: auto;
}

#piePagina{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 7%;
    width: 100%;
    background-color: #1d1d1d;
    color: #8e53dc;
    text-align: Center;
}

.líneaDireccion{
    display: inline;
}

#encabezadoTabla{
    font-size: 20px;
    background-color: blue;
    color:yellow;
}

#TablaResumen tr{
    font-size: 25px;
}

#TablaResumen tr:nth-child(odd) {
    background-color: coral;
    color: white;
}

#TablaResumen tr:nth-child(even){
    background-color: white;
    color: darkmagenta;
}